<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Registration</h1>
<form  method="post">
    {% csrf_token %}
    <input type="text" name="username" placeholder="Enter Your User Name"><br>
     <input type="text" name="firstname" placeholder="Enter Your First Name"><br>
     <input type="text" name="lastname" placeholder="Enter Your Last Name"><br>
     <input type="email" name="email" placeholder="Enter Your Email Address"><br>
     <input type="password" name="password" placeholder="Enter Your Password"><br>
     <input type="password" name="password1" placeholder="Confirm Your Password "><br>
     <input type="submit">
</form>
{% for msg in messages %}
{{msg}}
{% endfor %}
</body>
</html>